= render partial: 'projects/diffs/file', collection: diff_files, as: :diff_file, locals: { project: project, environment: environment, diff_page_context: diff_page_context }

.next-batch-section{ data: { next_batch: next_batch } }
