.job-log {

  clear: left;
  min-height: 42px;
  padding: 15px 0;
  color: #f1f1f1;
  font-size: 12px;
  line-height: 19px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #222;
  margin-top: 0;
  margin-bottom: -45px;
}

.line {
  position: relative;
}

.line-text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.collapsible {

}