.job-log {
  clear: left;
  min-height: 42px;
  padding: 15px 0;
  color: #f1f1f1;
  font-size: 12px;
  line-height: 19px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #222;
  margin-top: 0;
  margin-bottom: -45px;
}

.line {
  position: relative;
  white-space: normal;
  padding: 0 15px 0 62px;
  margin: 0;
}

.line-text {
  overflow-wrap: break-word;
}

.line-number {
  color: #f1f1f1;
  padding: 0 10px;


  display: inline-block;
    text-align: right;
    min-width: 40px;
    margin-left: -40px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    padding-right: 1em;

  &:hover {
    text-decoration: underline;
    color: #f1f1f1;
  }
}

.collapsible-line {
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: rgba($white-light, 0.2);
  }

  .arrow {
    position: absolute;
    margin-left: -50px;
  }
}