.job-log {
  font-family: $monospace-font;
  display: block;
  padding: $gl-padding-8 $input-horizontal-padding;
  margin: 0 0 $gl-padding-8;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  color: $gl-text-color;
  background-color: $gray-light;
  border: 1px solid $border-color;
  border-radius: $border-radius-small;

  clear: left;
  min-height: 42px;
  color: #f1f1f1;
  line-height: 19px;
  background-color: #222;
}

.line {
  position: relative;
  white-space: normal;
  padding: 0 15px 0 62px;
  margin: 0;
}

.line-text {
  overflow-wrap: break-word;
}

.line-number {
  color: #f1f1f1;
  padding: 0 10px;


  display: inline-block;
    text-align: right;
    min-width: 40px;
    margin-left: -40px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    padding-right: 1em;

  &:hover {
    text-decoration: underline;
    color: #f1f1f1;
  }
}

.collapsible-line {
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: rgba($white-light, 0.2);
  }

  .arrow {
    position: absolute;
    margin-left: -50px;
  }
}