- is_active = params[:id] == wiki_page.slug

%li{ class: active_when(is_active) }
  %span{ class: is_active ? 'text-secondary-800' : 'text-secondary-300' }= sprite_icon('book', size: 16)
  - if is_active
    = wiki_page.human_title
  - else
    = link_to project_wiki_path(@project, wiki_page) do
      = wiki_page.human_title
