- add_to_breadcrumbs _("Wiki"), project_wiki_path(@project, :home)
- add_to_breadcrumbs s_("Wiki|Pages"), project_wikis_pages_path(@project)
- @breadcrumb_dirs.each { |d| add_to_breadcrumbs _(d.title), project_wiki_dir_path(@project, d) }
- breadcrumb_title s_(@wiki_dir.title)
- page_title @wiki_dir.slug
- parent_path = @wiki_dir.root_dir? ? project_wikis_pages_path(@project) : project_wiki_dir_path(@project, @wiki_dir.directory)

= render 'page_listing', { parent_path: parent_path, allow_change_nesting: false, wiki_page_title: page_title, page_path: ->(opts) { project_wiki_dir_path(@project, @wiki_dir, opts) } }
