$color-gray-0: #fff;
$color-gray-50: #fafafa;
$color-gray-100: #f2f2f2;
$color-gray-200: #dfdfdf;
$color-gray-300: #cccccc;
$color-gray-400: #bababa;
$color-gray-500: #a7a7a7;
$color-gray-600: #919191;
$color-gray-700: #707070;
$color-gray-800: #4f4f4f;
$color-gray-900: #2e2e2e;
$color-gray-950: #1f1f1f;

$color-green-50: #f1fdf6;
$color-green-100: #dcf5e7;
$color-green-200: #b3e6c8;
$color-green-300: #75d09b;
$color-green-400: #37b96d;
$color-green-500: #1aaa55;
$color-green-600: #168f48;
$color-green-700: #12753a;
$color-green-800: #0e5a2d;
$color-green-900: #0a4020;
$color-green-950: #072b15;

$color-blue-50: #f6fafe;
$color-blue-100: #e4f0fb;
$color-blue-200: #b8d6f4;
$color-blue-300: #73afea;
$color-blue-400: #418cd8;
$color-blue-500: #1f78d1;
$color-blue-600: #1b69b6;
$color-blue-700: #17599c;
$color-blue-800: #134a81;
$color-blue-900: #0f3b66;
$color-blue-950: #0a2744;

$color-orange-50: #fffaf4;
$color-orange-100: #fff1de;
$color-orange-200: #fed69f;
$color-orange-300: #fdbc60;
$color-orange-400: #fca429;
$color-orange-500: #fc9403;
$color-orange-600: #de7e00;
$color-orange-700: #c26700;
$color-orange-800: #a35200;
$color-orange-900: #853c00;
$color-orange-950: #592800;

$color-red-50: #fef6f5;
$color-red-100: #fbe5e1;
$color-red-200: #f2b4a9;
$color-red-300: #ea8271;
$color-red-400: #e05842;
$color-red-500: #db3b21;
$color-red-600: #c0341d;
$color-red-700: #a62d19;
$color-red-800: #8b2615;
$color-red-900: #711e11;
$color-red-950: #4b140b;

$color-indigo-50: #f7f7ff;
$color-indigo-100: #ebebfa;
$color-indigo-200: #d1d1f0;
$color-indigo-300: #a6a6de;
$color-indigo-400: #7c7ccc;
$color-indigo-500: #6666c4;
$color-indigo-600: #5b5bbd;
$color-indigo-700: #4b4ba3;
$color-indigo-800: #393982 !default;
$color-indigo-900: #292961;
$color-indigo-950: #1a1a40;