@import "../../../stylesheets/framework";
@import "../../../stylesheets/pages/merge_requests";

button,
.btn {
  background-color: Magenta;
  color: White;
}
.btn-transparent {
  background-color: transparent
}

a{
  color: Orange;
  display: inline-block;
  &:hover {
    animation-name: wobble;
    animation-duration: .7s;
    animation-fill-mode: both;
  }
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}